body {
    background-color: #ffdab9;
    color: #f08080
    
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-style: italic;
}

a {
    color: #f08080;
}

#sobre {
    font-style: italic;
}

#foto {
    width: 250px;
    border-radius: 50px;
}